.pillContainer {
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-size: 12px;
    padding: 6px 12px;
    background-color: black;
    border-radius: 4px;

    &:hover {
        background-color: gray;
    }
}

.dropdownContainer {
    position: absolute;
    bottom: -240;
    left: 0;
    padding: 50;
    right: 0;

}