.pillContainer {
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 2em;
    cursor: pointer;

    /* &:hover {
        background-color: gray;
    } */
}

.dropdownContainer {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    border-radius: 0.5em;
    padding: 6px 0;
    min-width: 120px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 1000;

}

.dropdownOption {
    font: 16px;
    padding: 4px 8px;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.0375);
    }
}