.integrationsContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 12px;
    width: 600px;
}

.icon {
    height: 36px;
    margin-right: 12px;
}

.integrationsPage {
    padding: 24px;
}

.connected {
    display: flex;
    align-items: center;
    gap: 8px;
}

.connected button:first-child {
    all: unset;
    cursor: pointer;
    color: gray;
    &:hover {
        color: red
    }
}

.integration {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconContainer {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: bold;
}