.integrationsContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    width: 600px;
}

.integration {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconContainer {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: bold;
}