.chatContainer {
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 24px;
    width: 50%;
    min-width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.workspaceContainer {
    display: flex;
    justify-content: center;
}

.messageWrapper {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.messageWrapper.userWrapper {
    align-self: flex-end;
    align-items: flex-end;
}

.messageWrapper.agentWrapper {
    align-self: flex-start;
    align-items: flex-start;
}

.message {
    padding: 0;
    width: 100%;
}

.messageContent {
    padding: 16px;
    text-align: left;
}

.userMessage {
    background-color: var(--color-accent);
    border-radius: 8px;
}

.agentMessage {
    background-color: var(--color-surface);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 8px;
}

.sender {
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}