.chatContainer {
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 8px;
    width: 50%;
    min-width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.workspaceContainer {
    display: flex;
    justify-content: center;
}

.userMessage {
    background-color: var(--color-accent-hover);
    padding: 4px;
    max-width: 45%;
    align-self: flex-end;
}

.agentMessage {
    background-color: var(--color-surface);
    padding: 4px;
    max-width: 45%;
    border: 1px solid rgba(255, 255, 255, 0.25);
}