.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-sidebar-bg);
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 17px;
    padding-bottom: 12px;
}

.sidebar {
    width: 200px;
    box-sizing: border-box;
    background-color: var(--color-sidebar-bg);
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-right: 1px solid var(--color-accent-strong);
    text-align: left;
    font-size: 12px;
    padding: 12px 32px 24px 32px;
    height: calc(100vh - 24px);
}

.content {
    flex: 1;
    padding-top: 24px;
    background-color: var(--color-background);
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-accent-strong);
}

.profileSection {
    margin-top: auto;
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.navigationSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.button {
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 15px;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        border-bottom: 1px solid var(--color-foreground);
    }
}

.header {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.workspaces {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
}