.sidebar {
    position: fixed;
    /* bottom: 5%; */
    top: 5%;
    width: 30%;
    background-color: rgba(232, 221, 132, 0.555);
    justify-self: center;
    display: flex;
    justify-content: space-around;
    padding: 12px 20px;
    border-radius: 24px;
}
.button {
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    &:hover {
        border-bottom: 1px solid black;
    }
}