.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: rgba(232, 221, 132, 0.555);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.content {
    flex: 1;
    padding: 24px;
}

.button {
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    &:hover {
        border-bottom: 1px solid black;
    }
}