.button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 13px;
    width: fit-content;
    white-space: nowrap;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.spinIcon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
