* {
    text-align: left;
}


p {
    margin: 0;
}

.newWorkerButton {
    font-size: 16px;
}

.page {
    padding: 32px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
}

h1 > button {
    position: absolute;
    right: 0;
}



.workerCard {
    background-color: var(--color-surface);
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
}

.workerCards {
    display: flex;
    width: 400px;
    gap: 32px;
    overflow-wrap: break-word;
}

.slugCard {
    align-self: self-start;
    font-weight: 800;
}

.promptCard {
    color: gray;
    font-size: 13px;
}

.previousWorkspaces {
    display: flex;
    flex-direction: column;
    background-color: var(--color-sidebar-bg);
    border-radius: 7px;
    gap: 12px;
    padding: 4px;
    border: 2px solid var(--color-surface-strong);
}

.prevWorkspace {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    text-decoration: none;
    color: inherit;
    gap: 12px;
}

.openWorker {
    align-self: flex-end;
    padding: 4px 24px;
}

.workspaceNameContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    min-width: 0;
    flex: 1;
}

.workspaceIcon {
    min-width: 12px;
    flex-shrink: 0;
}

.workspaceName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.workspaceTime {
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: auto;
}

