.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
    width: 300px;
    justify-self: center;
}

.container input {
    padding: 4px;
    border-radius: 6px;
    font-size: 14px;
}

.container button {
    margin-top: 24px;
}