.sendButton {
    all: unset;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 6px;
    bottom: 12px;

    &:hover {
        color: rgba(0, 0, 0, 0.298);
    }
}

.workspacesContainer {
    border: black 1px solid;
    display: flex;
    gap: 12px;
    box-sizing: border-box;
    width: max(500px, 60%);
    margin: auto;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: scroll;
    padding: 8px;
    border-radius: 8px;
    margin-top: 40px;
}

.workspace {
    font-size: 18px;
    padding: 12px;
    border: pink 1px solid;
}

.chatContainer {
    position: relative;
    width: max(500px, 60%);
    margin: auto;
  }

.newWorkspace {
    border-radius: 8px;
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
}