.sendButton {
    all: unset;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 6px;
    bottom: 12px;

    &:hover {
        color: rgba(255, 255, 255, 0.7);
    }
}

.chatContainer {
    position: relative;
    width: max(500px, 60%);
    margin: auto;
  }

.newWorkspace {
    border-radius: 8px;
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
}