

.sendButton {
    all: unset;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 6px;
    bottom: 12px;

    &:hover {
        color: rgba(255, 255, 255, 0.7);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.spinIcon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.chatContainer {
    position: relative;
    width: max(400px, 30%);
    margin: auto;
  }

.newWorkspace {
    border-radius: 8px;
    height: 250px;
    padding: 8px;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
}

.header {
    font-size: 28px;
    margin-bottom: 36px;
    font-weight: 500;
    color: var(--color-link-hover)
}

.focusedHeader {
    font-weight: 900;
    color: var(--color-foreground);
}

.homeContainer {
    padding: 24px;
}